<!-- MAIN NAVBAR -->
<section>
    <div class="navbar bg-base-200 py-4">
        <div class="flex-1">
            <a (click)="navigateToDashboard()" class="btn btn-ghost text-xl">Panel Administrativo</a>
        </div>
        <div class="flex-none">
            <div class="dropdown dropdown-end mr-5">
                <div tabindex="0" role="button" class="btn m-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                </div>
                <ul tabindex="0" class="dropdown-content dropdown-start menu p-2 shadow bg-base-200 rounded-box w-max">
                    <li><a>Perfil</a></li>
                    <li><a class="text-red-400">LOG OUT</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- CONTROL PANEL -->

<section>
    <ul class="menu xl:menu-vertical w-max ml-5 mt-5 bg-base-200 rounded-box">
        <li>
          <a>Registros</a>
          <ul>
            <li><a>Recruiters</a></li>
            <li><a>Entrenadores</a></li>
            <li><a>Admins</a></li>
          </ul>
        </li>
        <li>
          <a>Jugadores</a>
          <ul>
            <li><a>Actuales</a></li>
            <li><a>Eliminados</a></li>
          </ul>
        </li>
        <li>
          <a>Company</a>
          <ul>
            <li><a>About us</a></li>
            <li><a>Contact us</a></li>
            <li><a>Privacy policy</a></li>
          </ul>
        </li>
      </ul>
</section>